#game{
    width: 450px;
    height: 450px;
    margin: 50px auto;
    position: relative;
    background-color: #eeeeee;
}
.myGrid{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    position: relative;
    float: left;
    font-size: 70px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
   background-color: #dddddd;
}
.v2{
    background-color: #faf7c8;
}
.v4{
    background-color: #ffefa3;
}
.v8{
    background-color: #ffd971;
}
.v16{
    background-color: #fad0c3;
}
.v32{
    background-color: #fa9ccc;
}
.v64{
    background-color: #ed9ffa;
}
.v128{
    background-color: #e07dfa;
}
.v256{
    background-color: #c35ffa;
}
.v512{
    background-color: #bc7afa;
}
.v1024{
    background-color: #fab4a8;
}
.v2048{
    background-color: #fa6b80;
}